Keyword Flag parsing is incorrect

The keyword flag parser in Network.HaskellNet.IMAP.Parsers will parse keywords preceded by "\", but according to RFC 3501 section 2.3.2., keywords do not start with slashes.  (The parser does have an alternative case for keyword flags in the absence of a slash, so the specified behavior is supported.)
